<div id="narrator">

    <div id="status">
        <h1>Waiting For Microphone</h1>
    </div>

    <div id="record">
        <div class="record-word"></div>
        <button class="button record-button">Record</button>
    </div>

    <div id="listen">
    </div>

</div>
